.carritoWrapper{
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  margin-top: 30px;
}
.miCarrito{
  font-size: 18px;
  font-weight: 700;
  color: var(--gray);
}

.line{
  width: 480px;
  margin: 10px 0;
  background-color: #F7F7F7;
  color: #F7F7F7;
  border: 2px solid #F7F7F7;
  
}

.cartWrapper{
  margin-bottom: 40px;
}

.totalWrapper{
  width: 500px;
  padding: 0 20px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  position: relative;
  left: -10px;
}

.totalText{
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  color: var(--gray);
}

.totalPrice{
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: 700;
  color: var(--gray);
}

.checkoutBox{
  border-radius: 10px;
  background-color: var(--light-gray2);
  padding: 25px 25px;
  width: 360px;
  margin-top: 50px;
}
.priceWrapper{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.withoutDiscountPrice{
  font-size: 22px;
  color: var(--light-gray);
  text-decoration: line-through;
  margin-top: auto;
  position: relative;
  font-weight: 700;
  top: -4px;
}
.pricesWrapper{
  display: flex;
  gap: 10px;
}
.discountPrice{
  font-size: 32px;
  font-weight: 700;
  color: var(--gray);
  margin: 0;
}
.checkoutLine{
  width: 100%;
  margin: 15px 0;
  background-color: #D8D8D8;
  color: #D8D8D8;
  border: 1px solid #D8D8D8;
}
.checkoutLabel{
  font-size: 14px;
  font-weight: 600;
  color: var(--gray);
  display: block;
  margin: 0;
  margin-bottom: 10px;
}
.checkoutSelect{
  font-family: "Rawson", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: var(--gray);
  font-weight: 400;
  width: 100%;
  padding: 8px 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-bottom: 25px;
}
.checkoutInputNumber{
  font-family: "Rawson", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: var(--gray);
  font-weight: 400;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 10px;
  width: 64px;
}
.checkoutDiscount{
  
  position: relative;
}
.checkoutList{
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.checkoutDiscountItem{
  font-size: 14px;
  font-weight: 500;
  color: var(--gray);
  height: 25px;
  margin: 0;
  position: relative;
}
.checkoutDiscountNumber{
  margin: 0;
  padding: 0;
  position: relative;
  top: -3px;
  color: #47B878;
  font-weight: 600;
}
.checkoutEnvioWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkout{
  display: flex;
  gap: 15px;
  flex-direction: column ;
}