/*@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonThin.otf') format('otf');
  font-weight: 100;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonThinIt.otf') format('otf');
  font-weight: 100;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonExtraLight.otf') format('otf');
  font-weight: 200;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonExtraLightIt.otf') format('otf');
  font-weight: 200;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonLight.otf') format('otf');
  font-weight: 300;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonLightIt.otf') format('otf');
  font-weight: 300;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonRegular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonRegularIt.otf') format('otf');
  font-weight: 400;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonMedium.otf') format('otf');
  font-weight: 500;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonMediumIt.otf') format('otf');
  font-weight: 500;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonSemiBold.otf') format('otf');
  font-weight: 600;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonSemiBoldIt.otf') format('otf');
  font-weight: 600;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonBold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonBoldIt.otf') format('otf');
  font-weight: 700;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonExtraBold.otf') format('otf');
  font-weight: 800;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonExtraBoldIt.otf') format('otf');
  font-weight: 800;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonBlack.otf') format('otf');
  font-weight: 900;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawson/RawsonBlackIt.otf') format('otf');
  font-weight: 900;
  font-style: italic;
}
*/

@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-ThinIt.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-ExtraLightIt.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-LightIt.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-RegularIt.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-MediumIt.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-SemiBoldIt.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-BoldIt.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-ExtraBoldIt.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face { 
  font-family: 'Rawson';
  src: url('../fonts/rawsonPro/RawsonPro-BlackIt.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}
