.homeWrapper{
  padding: 0 var(--horizontal-padding);
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.infoTag{
  height: 32px;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width:  fit-content;
  background-color: var(--light-yellow);
  color: var(--yellow);
  font-size: 16px;
  font-weight: 500;
  padding: 0 20px;
  
}
.restaurantTitles{
  font-size: 48px;
  font-weight: 800;
  color: var(--gray);
}
.restaurantHours{
  margin: 0;
  font-size: 16px;
  color: var( --light-gray);
}
.orderWrapper{
  margin-top: 40px;
}
.order{
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  color: var(--yellow);
}
.waitressWrapper{
  display: flex;
  align-items: center;
}
.blackBox{
  width: 464px;
  height: 464px;
  background-color: var(--black);
  margin-top: auto;
  padding: 20px;
  position: relative;
}
.yellowBox{
  width: 100%;
  height: 100%;
  border: 10px solid var(--yellow);
}
.waitress{
  position: absolute;
  bottom: 0;
  left: 38%;
  transform: translateX(-50%);
  display: flex;
}
.waitress > img{
  margin-top: auto;
  object-fit: contain;
}
.deliveryTag{
  height: 44px;
  display: flex;
  padding: 0 20px 0 4px;
  align-items: center;
  background-color: white;
  border-radius: 9999px;
  font-size: 16px;
  font-weight: 600;
  color: var(--gray);
  box-shadow: 0 6px 14px rgba(0, 0, 0, .16);
  position: absolute;
  top: 40px;
  left: -80px;
  user-select: none;
}

.deliverySVG{
  filter: drop-shadow(0 6px 11px rgba(0, 0, 0, .25));
  position: relative;
  padding: 0 6px 0 4px;
  top: -8px
}

@media (min-width: 768px) and (max-width: 1280px){
  .infoTag{
    font-size: 14px;
  }
  .restaurantTitles{
    font-size: 38px;
  }
  .order{
    font-size: 42px;
  }
  .blackBox{
    transform: scale(80%);
  }
}